// Fonts Families
$primary-font: 'Lato',
sans-serif;
// Font Weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
// Colors
$body-color: #fafafa;
$app-color: #04b4d4;
$app-main-color: #04b4d4;
$app-secondary-color: #7ac8ab;
$shadow-color: rgba(46, 62, 72, 0.12);
$error-color: #ff5252;
$black: #000000;
$white: #ffffff;
// Screen sizes
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;